body{
  text-align: center;
}
.info-container input{
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.3);
  margin: 20px;

}
a{
  color:white;
  text-decoration: none;
}
a:hover{
  color:white;
  text-decoration: none;
}
.info-container{
  display: none;
}
button{
  margin: 10px;
}
#resetgame,.start-game-container,.game-area{
  display: none;
}
.rows{
  display: grid;
  grid-template-columns: repeat(3,100px);
  width:300px;
  margin:0 auto;
  justify-content: space-between;
}
.cell{
  height: 80px;
  width: 100px;
  padding: 20px;
  background: gray;
  border: 2px solid;

}
